{# templates/Articulos/app.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Symfony App {% endblock %}</title>
    </head>
    <body>
        {% block titulo %}
            <h1>Aplicación Symfony</h1>
        {% endblock %} 
        
        {% block body %}
            <p>Cuerpo de mi aplicación en Symfony</p>
        {% endblock %}
    </body>
</html>
